*.swp
*.swo
*.old
*~
*.cache
*.config
*.pid

/Symfony/coverage_report/
/Symfony/vendor/
/Symfony/web/bundles/
/Symfony/web/release.txt
/Symfony/var/bootstrap*
/Symfony/var/cache/*
/Symfony/var/chunks/*
/Symfony/var/logs/*
/Symfony/app/config/parameters.yml
/Symfony/app/config/vendor/
/Symfony/app/config/developer-*-public.pem

/docker/php/Symfony
/docker/nginx/Symfony

/developer/config.sh
