*.swp
*.swo
*.old
*~
*.cache
*.config
*.pid
*.stop

/Symfony/app/config/developer-*-public.pem
/Symfony/app/config/parameters.yml
/Symfony/app/config/vendor/
/Symfony/coverage_report/
/Symfony/var/bootstrap*
/Symfony/var/cache/*
/Symfony/var/chunks/*
/Symfony/var/logs/*
/Symfony/vendor/
/Symfony/web/bundles/
/Symfony/web/release.txt

/docker/php/Symfony
/docker/nginx/Symfony

/developer/config.sh

/data/

Symfony/public/googlede*

Symfony/public/img/blog/*

/terraform/credentials.sh
/terraform/.terraform/
/terraform/terraform.tfstate.*
/terraform/tf.tfvars
