<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{asset('favicon.ico')}}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Roboto|Titillium Web|Material+Icons" rel="stylesheet">

    {% block title %}<title>Symfony React</title>{% endblock title %}
    {% block stylesheets %}
       {{ encore_entry_link_tags('mobileApp') }}
    {% endblock %}

  </head>
  <body>

    <div class="main-container">
        <div class="container">
            <div id="react-container">{% spaceless %}{% block body %}{% endblock %}{% endspaceless%}</div>
        </div>

    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('mobileApp') }}
    {% endblock %}
  </body>
</html>
