<div class="message">

    <i class="fa fa-envelope-o"></i>
    <p>
        <b>Check your email</b><br />
        Instructions for resetting your password have been sent.
    </p>

    <button class="ender-close" data-bstsh-object="eventThrower" data-event="bookster:logincloserequest">Ok</button>
</div>
