section.privacy{
    width:900px;
    display:inline-block;
    background-color:white;
    vertical-align:middle;
    padding-top:17px;
    .box-shadow(1px 1px 14px rgba(50, 50, 50, 0.75));
    .shell{
        text-align:left;
        margin:10px 20px;
        width:860px;
        color:@slate;
        padding-bottom:40px;
        h1{
            margin-top:30px;
        }
        h2{
            margin-top:20px;
        }
        h3, h4{
            margin-top:10px;
        }
        ul{
            margin-top:10px;
            li{
                margin-left:33px;
                font-size:90%;
            }
        }
    }
}

