    <span id="loginbox">
        {{ render(controller('FOSUserBundle:Security:login')) }}
    </span>
    <span id="registerbox">
        {{ render(url('fos_user_registration_register')) }}
    </span>
    <span id="resetbox">
        {{ render(url('fos_user_resetting_request')) }}
    </span>

