<ul>
    {% for child in nodes[0].children %}
        <li>
            <a href="{{ path('search_browse_category', {'node_id': child.id, 'slug': child.slug} ) }}" title="{{ child.count }} books in {{ child.name }}">
                {{ child.name }}
            </a>
        </li>
    {% endfor %}
</ul>
