<span class="logo">Books to Love</span>
<img src="/img/book.svgz" />

<span>
    <a href="{{ path('about') }}">About</a>
    <a href="{{ path('blog') }}">Blog</a>
    <a href="{{ path('privacy') }}">Privacy Policy</a>
    <a href="{{ path('tos') }}">Terms of Service</a>
</span>
