{% extends 'badbrowser.html.twig' %}

{% block body %}
    <div class="shell">
        <div class="privacyblock">
            {{ privacyhtml|raw }}
            <br />
            <br />
            <br />
        </div>
    </div>
{% endblock %}

