{% extends 'badbrowser.html.twig' %}

{% block body %}
    <div class="shell">
        <div class="vert">
        </div>
        <div class="home content">
            <h1>Sorry!</h1>
            <h2>Books to Love only works with modern browsers</h2>
            <div class="browsers">
                <div class="browser">
                    <a href="http://www.google.com/chrome">
                        <img src="/img/badbrowser/chrome.png" />
                        <label>Google Chrome</label>
                        <span>Made by Google</span>
                    </a>
                </div>
                <div class="browser">
                    <a href="http://www.firefox.com/">
                        <img src="/img/badbrowser/firefox.png" />
                        <label>Mozilla Firefox</label>
                        <span>Mozilla Foundation</span>
                    </a>
                </div>
                <div class="browser">
                    <a href="http://www.apple.com/safari/">
                        <img src="/img/badbrowser/safari.png" />
                        <label>Safari</label>
                        <span>Made by Apple</span>
                    </a>
                </div>
                <div class="browser">
                    <a href="http://windows.microsoft.com/ie">
                        <img src="/img/badbrowser/ie.png" />
                        <label>Internet Explorer</label>
                        <span>From Microsoft</span>
                    </a>
                </div>
            </div>
            <h3>
                Minimum required browser is Internet Explorer version 10<br .=/>
            </h3>
        </div>
    </div>
    <div class="corner">
        <a href="/about">About</a> |
        <a href="/privacy">Privacy</a>
    </div>
{% endblock %}
