{% extends 'base.html.twig' %}
{% block title %}Privacy Policy{% endblock %}
{% block description %}Books to Love's Privacy Policy{% endblock %}

{% block focus %}
    <section class="privacy">
        <button class="close-focus close-button" data-bstsh-object="historyCloseButton"><i class="fa fa-times"></i></button>
        <div class="shell">
            {{ privacyhtml|raw }}
        </div>
    </section>
{% endblock %}

